/* section.main.css-uf99v8.egzxvld5 {
    background-image: url(https://pixabay.com/images/id-4972366);
    color :black
} */

#dis{
font-size: 40px;
color: black;}

div.css-nahz7x.e16nr0p34 a
{
    color: #660d0d;
}

.css-nahz7x.e16nr0p34 p {
    text-align: center;
}